node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Build / test artifacts
coverage
dev-dist
*.log
npm-debug.log*

# Firebase
.firebase
firebase-debug.log
.firebaserc
